@import "tailwindcss";

@theme {
    --primary: #A8D08D;
    --secondary: #C2B280;
    --warning: #e0bc2b;
    --danger: red;
    --success: #3ebe3e;
    --primary-gradient: #228B22;
    /* --primary-gradient: #228B22; */
    --background: #E8E8F4;
}

.p-button-general {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

